#cloud-config
chpasswd: { expire: False }
ssh_pwauth: True
users:
  - name: kube
    gecos: Kubernetes Admin
    primary_group: kube
    groups: users, admin
    sudo: ALL=(ALL) NOPASSWD:ALL
    lock_passwd: false
    passwd: $6$9S5U5XU8$062QhDAHDT/t.v/gyc4Nk92sPOq991Z0L3kQ1OE6iloO1Um9afIGhzAMfDQyEnMli7GZm4HtiWLAiqWuYBKHD/
runcmd:
  - 'chsh -s /bin/bash kube'
  - 'touch /home/kube/.cloud-warnings.skip'
  - 'touch /var/lib/cloud/instance/warnings/.skip'
  - 'apt update -y'
  - 'apt install -y snapd git'
  - 'snap install microk8s --classic'
  - 'sleep 30'
  - '/snap/bin/microk8s.enable dns dashboard storage ingress'
  - 'snap alias microk8s.kubectl kubectl'
  - 'snap install helm --classic'
  - 'echo export KUBECONFIG="/snap/microk8s/current/configs/kubelet.config" >> /home/kube/.profile'
